{{ outlet sidebar }}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Clients Index</h3>
    </div>
    <div class="panel-body">
        <table class="clients panel">
            <tbody>
            {{#each client in controller}}
                <tr>
                    <td class="client_name">{{client.name}}</td>
                    <td class="action">{{#link-to 'client' client class="btn"}}OPEN{{/link-to}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{outlet}}