<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Clients Index</h3>
    </div>
    <div class="panel-body">
        <table class="clients panel">
            <tbody>
            {{#each client in controller}}
                <tr>
                    <td class="client_name">{{client.name}}</td>
                    <td class="client_name">{{#link-to 'clients.show' client class="btn"}}test{{/link-to}}</td>
                    <td class="client_name"><a href="/#/home/clients/1">test2</a></td>
                    <td class="action">
                        <div class="dropdown btn-group">
                            {{#link-to 'client' client class="btn"}}OPEN{{/link-to}}
                            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">111</a></li>
                                <li><a href="#">222</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{outlet}}