<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
    </div>
    <div class="panel-body">
        <table class="projects panel">
            <tbody>
            {{#each model}}
                <tr>
                    <td class="project_name">{{name}} {{name}}</td>
                    <td class="action">
                        <div class="dropdown btn-group">
                            <a href="#" class="btn">OPEN</a>
                            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">111</a></li>
                                <li><a href="#">222</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="">
            {{outlet}}
        </div>
    </div>
</div>