############
## Grunt
############
node_modules/
compiled/
npm-debug.log


############
## OS Crap
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# Linux backup files
*~

#######################
## Cache/Backup Files
#######################

*.rbc

# Sass
.sass-cache
*.css.map
# Ignore the compiled CSS folders (we can't do *.css, because there are css files in the fonts folder)
public/assets/**/css

# Pygments
.pygments-cache

############
## Misc
############

# PHPStorm
.idea

# Subversion
.svn

# CTags
.tags*

#############
## Ruby
#############

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#unicorn
unicorn.rb

invoices/
config/appdata.yml