<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Invoices <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><%= ilink_to('List', invoices_path) %></li>
        <li><%= ilink_to('Add', new_invoice_path) %></li>
    </ul>
</li>