<% content_for :crumbs do %>
<%= render 'crumbs' %>
<li class="pull-right"><%= ibtn_link_to('cancel', task_path(@task)) %></li>
<li class="pull-right"><%= ibtn_link_to_save('edit_task_' + @task.id.to_s) %></li>
<% end %>

<div class="col-sm-6">
    <%= render 'form' %>
</div>