<% content_for :crumbs do %>
<%= render 'crumbs' %>
<li class="pull-right"><%= ibtn_link_to('cancel', tasks_path) %></li>
<li class="pull-right"><%= ibtn_link_to_save('new_task') %></li>
<% end %>

<div class="col-sm-6">
    <%= render 'form' %>
</div>