<h3>edit partial</h3>
<div class="client-edit">
    <label>Client name</label>
    {{input value=name}}

    <label>Client email</label>
    {{input value=email}}
</div>

<button {{action "save"}}> ok </button>