
 /** This is a manifest file that'll be compiled into application.css, which will include all the files*/
 /** listed below.*/
 /***/
 /** Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,*/
 /** or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.*/
 /***/
 /** You're free to add application-wide styles to this file and they'll appear at the bottom of the*/
 /** compiled file so the styles you add here take precedence over styles defined in any styles*/
 /** defined in the other CSS/SCSS files in this directory. It is generally better to create a new*/
 /** file per style scope.*/
 /***/
 /**= require_tree .*/
 /**= require_self*/


/*body { padding-top: 50px }*/

/*.red { color: #d9534f }*/
/*.blue { color: #428bca }*/
/*.green { color: #5cb85c }*/

/*th.cell-sm, td.cell-sm { max-width: 50px }*/

/*table.table td .btn-group { width:265px }*/

/*.breadcrumb { background-color: #F8F8F8; border-bottom: 1px solid #ccc }*/
/*.breadcrumb a:hover { text-decoration: none }*/

/*.breadcrumb li.no-crumb:before{padding:0;content:"";}*/

/*@media (max-width: 768px) {*/
    /*table.table td .btn-group { width:135px; }*/
/*}*/

 /*http://stackoverflow.com/questions/13562658/twitter-bootstrap-multi-column-dropdown*/
/*@media screen and (max-width: 991px){*/
    /*.kolumny{*/
        /*height: 200px;*/
        /*overflow:scroll;*/
    /*}*/
/*}*/

 /*http://stackoverflow.com/questions/13562658/twitter-bootstrap-multi-column-dropdown*/
/*@media screen and (min-width: 992px){*/
    /*.kolumny{*/
        /*-moz-column-count:2;  Firefox*/
        /*-webkit-column-count:2;  Safari and Chrome*/
        /*column-count:2;*/
        /*width: 500px;*/
    /*}*/
/*}*/
