<% content_for :crumbs do %>
<%= render 'crumb_all' %>
<li class="pull-right"><%= ibtn_link_to('cancel', users_path) %></li>
<li class="pull-right"><%= ibtn_link_to_save('new_user') %></li>
<% end %>

<div class="col-sm-6">
    <%= render 'form' %>
</div>