<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @payment %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><%= ilink_to('Edit', edit_payment_path(@payment)) %></li>
    <li class="divider"></li>
    <li><a href="<%= client_path(@payment.client) %>"><i class="i-open"></i>Client</a></li>
    <li class="divider"></li>
    <li><%= ilink_to_destroy(payment_path(@payment)) %></li>
  </ul>
</li>