<% content_for :crumbs do %>
    <%= render 'crumbs' %>
    <li class="pull-right"><%= ibtn_link_to('add', new_payment_path) %></li>
<% end %>

<div class="table-responsive">
  <table class="index">
    <tr>
      <th>Id</th>
      <th>Client</th>
      <th>Total</th>
      <th>Paid At</th>
      <th></th>
    </tr>

    <%= render @payments %>

  </table>
</div>