// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  @extend .fa;
}

a i {
  margin:0 7px 0 0;
}

i.i-add { @extend .fa-plus; }
i.i-cancel { @extend .fa-times; }
i.i-destroy { @extend .fa-trash-o; }
i.i-edit { @extend .fa-pencil-square-o; }
i.i-email { @extend .fa-envelope; }
i.i-list { @extend .fa-list-ul; }
i.i-open { @extend .fa-square-o; }
i.i-save { @extend .fa-pencil-square-o; }
i.i-saving { @extend .fa-spin; @extend .fa-circle-o-notch; color:green; }
i.i-show { @extend .fa-square-o; }
i.i-unsaved { @extend .fa-save; color:red; }
