// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.invoice.entries.panel {
  .entry_id { display: none; }
  .entry_client { display: none; }
  .entry_invoice { display: none; }
}